<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bd_web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul class="topmenu">
            <li class="class=" down"">
                <a href="/Сosts">Виплати</a>
                <ul class="submenu">
                    <li><a href="/Сosts/salary">Зарплата</a></li>
                </ul>
            </li>
            <li class="class=" down"">
                <a href="/Profits">Дохід</a>
                <ul class="submenu">
             
                    <li><a href="/Profits/Ticket">Квитки</a></li>
                    <li><a href="/Profits/transfer">Tрансфер</a></li>
                    <li><a href="/Profits/Sponsor">Спонсор</a></li>
                    <li><a href="/Profits/Ticketz">Звіт квитків</a></li>
                </ul>
            </li>
            <li><a href="/Clubs">Клуби</a></li>
            <li><a href="/Footballers">Футболісти</a></li>
            <li><a href="/People">Працівнки</a></li>
            <li><a href="/PersonalEnums">Персонал</a></li>
            <li><a href="/Shops">Види витрат і доходів</a></li>
            <li><a href="/Sponsors">Спонсори</a></li>
            <li><a href="/Matches">Матчі</a></li>
        </ul>
    </nav>
        @RenderBody()
        @RenderSection("Scripts", required: false)

</body>
</html>
